name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base_indepth: true
          repositories_forks: true
          plugin_languages: true
          plugin_languages_indepth: true
          plugin_languages_details: lines
          plugin_isocalendar: true
          plugin_reactions: true
          config_display: large
